  .container {
    margin: 50px auto;
    width: 70%;
    padding: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  button {
    width: 50%;
  }

  h3 {
    text-align: center;
    margin: 0 auto 30px;
    color: #e67600;
  }

  mat-form-field {
    margin-bottom: 10px;
  }

  #error {
    color: red;
    margin: 0 0 5px;
  }

button {
    margin: auto;
}

a {
    margin: 20px auto;
}