#comment {
  margin: auto;
  width: 90%;
  max-width: 700px;
  padding: 20px;
  box-sizing: border-box;
}

#comment form {
  display: flex;
  flex-direction: column;
}

#comment button {
  width: 50%;
  align-self: center;
}

#comment h3 {
  text-align: center;
  margin: 0 auto 30px;
  color: #e67600;
}

mat-form-field {
  margin-bottom: 10px;
  width: 100%;
}

#error {
  color: red;
  margin: 0 0 5px;
}

button, a {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

@media (max-width: 600px) {
  #comment {
    padding: 20px 15px 0;
  }

  button, a, #comment button {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }
}
