main {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
}
  
  #about {
    text-align: center;
    padding: 60px 20px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  
  #about h1 {
    color: #e67600;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #about p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  #activities {
    margin-bottom: 50px;
    text-align: center;
  }
  
  h2 {
    color: #ffb347;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .activity-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .activity {
    background-color: #ffe5f3;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  }
  
  #signup {
    padding: 40px 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  
  #signup p {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  
  button, a {
    width: 25%;
    margin: auto;
  }

  h3 {
    color: #e67600;
  }

  #comment {
    margin: auto;
    width: 70%;
    padding: 40px;
  }

  #comment form {
    display: flex;
    flex-direction: column;
  }

  #comment button {
    width: 50%;
  }

  #comment h3 {
    text-align: center;
    margin: 0 auto 30px;
  }

  mat-form-field {
    margin-bottom: 10px;
  }

  #error {
    color: red;
    margin: 0 0 5px;
  }